* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.algorithm {
  font-size: 18px;
  border: none;
  background-color: rgb(16, 146, 158);
}

.screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 9px;
  font-size: 18px;
  align-items: center;
  background-color: rgb(16, 146, 158);
  color: white;
  font: bolder;
}

.btn {
  padding: 10px;
}

.btn:hover {
  background-color: rgb(46, 180, 180);
}

.vis {
  background-color: rgb(180, 46, 169);
}

.btn:hover {
  cursor: pointer;
}

.input {
  display: flex;
  gap: 5px;
}

.gridAndStats {
  display: flex;
  gap: 10px;
  height: 100vh;
  background-image: radial-gradient(#520073 10px, transparent 10px),
    radial-gradient(#520073 10px, transparent 10px);
  background-size: 26px 26px;
  background-position: 0 0, 13px 13px;
  background-color: #0f0033;
}

@media screen and (min-width: 1600px) {
  .screen {
    font-size: 20px;
  }
}

@media screen and (min-width: 2000px) {
  .screen {
    font-size: 30px;
  }
}

@media screen and (min-width: 2500px) {
  .screen {
    font-size: 40px;
  }
}

@media screen and (min-width: 3000px) {
  .screen {
    font-size: 50px;
  }
}
