.line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  width: 100%;
  height: 100vh;
}

.target,
.start {
  color: white;
  font-weight: bold;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 360px;
}

.start {
  background-color: red;
}

.target {
  background-color: blue;
}

.node {
  width: calc(100vw / 70);
  height: calc(100vw / 70);
  border: 1px solid rgb(171, 93, 223);
  background-color: white;
}

.goblue:hover {
  background-color: blue !important;
  border-radius: 360px;
}

.gored:hover {
  background-color: red !important;
  border-radius: 360px;
}
