.line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: linear-gradient(45deg, rgb(233, 213, 255), rgb(177, 254, 218)); */
}

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.node{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(171, 93, 223);
    background-color: white;
    transition: 200ms;
}


.yes{
    background-color: blue;
}