.stats {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  color: white;
}

.statsData {
  color: yellow;
  font-size: 23px;
}
